@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 15px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  color: #272343;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #F5F6F7;
}

body._lock {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  position: relative;
  margin: 0px auto;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: rgba(234, 189, 32, 0);
  padding: 20px 58px 20px 58px;
}

.header__fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: rgb(234, 189, 32);
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header__row a {
  color: #FFF;
}
@media (max-width: 767px) {
  .header__row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__logo {
  z-index: 10;
}
.header__logo p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  font-weight: 700;
  border-radius: 50px;
  border: 1px solid #FFF;
  width: 201px;
  height: 43px;
}
.header__logo p:hover {
  background-color: rgba(224, 220, 220, 0.5);
}
@media (max-width: 992px) {
  .header__logo {
    padding: 0px 0px 40px 0px;
  }
}
@media (max-width: 767px) {
  .header__logo {
    padding: 0px 0px 0px 0px;
  }
}

.header__menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 39px;
}
.header__menu .menu__list li:nth-child(1) a {
  border-radius: 77px;
  padding: 3px 17px 3px 17px;
}
.header__menu .menu__list li:nth-child(2) a {
  border-radius: 50px;
  padding: 3px 14px 3px 14px;
}
.header__menu .menu__list li:nth-child(3) a {
  border-radius: 77px;
  padding: 3px 15px 3px 15px;
}
.header__menu .menu__list li:nth-child(4) a {
  border-radius: 50px;
  padding: 3px 13px 3px 13px;
}
@media (max-width: 992px) {
  .header__menu .menu__list {
    gap: 30px;
    padding: 0px 0px 0px 0px;
  }
}
@media (max-width: 767px) {
  .header__menu .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px 0px 0px 0px;
    gap: 50px;
  }
}

.menu__link {
  font-size: 18px;
  font-weight: 700;
  border: 1px solid #FFF;
}
.menu__link:hover {
  background-color: rgba(224, 220, 220, 0.5);
  border-radius: 77px;
}

.menu__icon {
  display: none;
}

.intro__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 296.5px 62.5px 0px 85px;
  background-image: url(../img/intro-2.png), url(../img/intro-1.png);
  background-repeat: no-repeat;
  background-position: right, left;
  background-size: auto 712px, 1399px 710px;
  height: 710px;
}
@media (max-width: 992px) {
  .intro__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 767px) {
  .intro__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    padding: 296px 0px 0px 0px;
    height: auto;
  }
}

.intro__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.intro__left p {
  font-size: 18px;
  font-weight: 700;
  max-width: 387.852px;
  color: #FFF;
  text-align: justify;
}
@media (max-width: 992px) {
  .intro__left p {
    padding: 0px 0px 0px 0px;
  }
}
@media (max-width: 767px) {
  .intro__left p {
    padding: 0px 10px 0px 10px;
    text-align: justify;
  }
}

.intro__left-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
@media (max-width: 767px) {
  .intro__left-text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.intro__left-text .intro__left-rotate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: -65px;
  top: 38.3px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #7EC543;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  .intro__left-text .intro__left-rotate {
    left: -130px;
    top: 10px;
  }
}
@media (max-width: 767px) {
  .intro__left-text .intro__left-rotate {
    left: -66px;
    top: 10px;
  }
}

.intro__left-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 0px 18.45px 60px;
}
@media (max-width: 992px) {
  .intro__left-title {
    font-size: 20px;
    padding: 0px 0px 0px 0px;
  }
}
.intro__left-title h1 {
  color: #FFD803;
  font-size: 112px;
  font-weight: 700;
  letter-spacing: 5.6px;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  .intro__left-title h1 {
    font-size: 70px;
    padding: 0px 0px 18.45px 0px;
  }
}
@media (max-width: 767px) {
  .intro__left-title h1 {
    font-size: 50px;
    padding: 0px 0px 10px 0px;
  }
}
.intro__left-title h2 {
  color: #FFF;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  .intro__left-title h2 {
    font-size: 20px;
    padding: 0px 0px 30px 0px;
  }
}
@media (max-width: 767px) {
  .intro__left-title h2 {
    text-align: center;
    font-size: 20px;
    padding: 0px 0px 80px 0px;
  }
}

.intro__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 179px;
  padding: 48.35px 0px 0px 0px;
}
@media (max-width: 1157px) {
  .intro__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 992px) {
  .intro__right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 5px 0px 0px 0px;
    height: auto;
  }
}
@media (max-width: 767px) {
  .intro__right {
    padding: 5px 0px 0px 0px;
    height: auto;
  }
}
.intro__right .intro__right-title a:first-child {
  text-align: end;
  font-size: 63px;
  font-weight: 700;
  text-transform: uppercase;
  color: #272343;
}
@media (max-width: 1157px) {
  .intro__right .intro__right-title a:first-child {
    font-size: 40px;
  }
}
.intro__right .intro__right-title a:last-child {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  color: #272343;
}
.intro__right img {
  padding-top: 10px;
  height: 133px;
}
@media (max-width: 767px) {
  .intro__right img {
    padding-top: 30px;
  }
}

.intro__right-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 10px;
  width: 348px;
}
@media (max-width: 1157px) {
  .intro__right-title {
    width: auto;
  }
}
@media (max-width: 767px) {
  .intro__right-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
  }
}

.classes-price__background {
  background-image: url(../img/classes-price-1.png);
  background-repeat: no-repeat;
  background-position: left 220px;
}

.classes__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/classes-2.png);
  background-repeat: no-repeat;
  background-position: right top;
  padding: 143px 0px 0px 0px;
}
@media (max-width: 992px) {
  .classes__column {
    padding: 80px 20px 0px 20px;
  }
}
@media (max-width: 767px) {
  .classes__column {
    padding: 20px 0px 0px 0px;
  }
}

.classes__title {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding-bottom: 44px;
}

.classes__text-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 77px;
}
@media (max-width: 992px) {
  .classes__text-row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 767px) {
  .classes__text-row {
    gap: 30px;
  }
}

.classes__text-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 66px;
}
@media (max-width: 767px) {
  .classes__text-left {
    gap: 30px;
  }
}

.classes__text-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.classes__text-right img {
  width: 364px;
  height: 224px;
}

.classes__card-1 {
  width: 433px;
  height: 227px;
  text-align: justify;
  border: 5px solid #EE892D;
  background: var(--white-fill, rgba(255, 255, 255, 0.3));
  -webkit-box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 46px 47px 45px 48px;
}
@media (max-width: 767px) {
  .classes__card-1 {
    padding: 10px 10px 10px 10px;
    margin: 0px 10px 0px 10px;
    width: auto;
  }
}
.classes__card-1 h2 {
  font-size: 23px;
  font-weight: 700;
  padding-bottom: 21px;
}
.classes__card-1 p {
  font-weight: 700;
}

.classes__card-2 {
  width: 433px;
  height: 227px;
  text-align: justify;
  border: 5px solid #FFD803;
  background: var(--white-fill, rgba(255, 255, 255, 0.3));
  -webkit-box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 43px 53px 39px 50px;
}
@media (max-width: 767px) {
  .classes__card-2 {
    padding: 10px 10px 10px 10px;
    margin: 0px 10px 0px 10px;
    width: auto;
  }
}
.classes__card-2 h2 {
  font-size: 23px;
  font-weight: 700;
  padding-bottom: 13px;
}
.classes__card-2 p {
  font-weight: 700;
}

.classes__card-3 {
  width: 433px;
  height: 520px;
  text-align: justify;
  border: 5px solid #EE892D;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 34px 39px 39px 30px;
}
@media (max-width: 767px) {
  .classes__card-3 {
    padding: 10px 10px 10px 10px;
    margin: 0px 10px 0px 10px;
    width: auto;
  }
}
.classes__card-3 img {
  margin-bottom: 27px;
}
.classes__card-3 p {
  font-weight: 700;
  margin-bottom: 0.8em;
}

.price__title {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: center;
  padding: 130px 0px 38px 0px;
}
@media (max-width: 992px) {
  .price__title {
    padding: 80px 0px 38px 0px;
  }
}
@media (max-width: 767px) {
  .price__title {
    padding: 30px 0px 38px 0px;
  }
}

.price-slider {
  max-width: 1284px;
  overflow: hidden;
  margin: 0px auto;
  padding-bottom: 100px;
}
@media (max-width: 992px) {
  .price-slider {
    max-width: 377px;
  }
}
@media (max-width: 767px) {
  .price-slider {
    padding-bottom: 0px;
  }
}

.price-slider__wrapper .price-slider__slide:nth-child(3) .price-slider__image {
  max-width: 318px;
}
.price-slider__wrapper .price-slider__slide:nth-child(3) .price-slider__image ul {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.price-slider__wrapper .price-slider__slide:nth-child(3) .price-slider__image li {
  margin-bottom: 10px;
}

.price-slider__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 340px;
  border: 5px solid #7EC543;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 15px 12px 25px 15px;
}
.price-slider__image ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 158px;
  margin-bottom: 22px;
}
.price-slider__image h2 {
  text-align: center;
  font-size: 23px;
  font-weight: 700;
  padding: 14px 0px 28px 0px;
}
.price-slider__image li {
  font-weight: 700;
  position: relative;
  margin-left: 68px;
}
.price-slider__image li:nth-child(4) {
  padding-bottom: 22px;
}
.price-slider__image li::before {
  content: url("../img/svg/price-square.svg");
  position: absolute;
  left: -32px;
}
.price-slider__image p {
  text-align: right;
  font-size: 18px;
  font-weight: 500;
  padding: 0px 25px 36px 0px;
}

.price__image-card {
  width: 340px;
  height: 174px;
}

.price__image-card-3 {
  width: 318px;
  height: 174px;
}

.price__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 21px;
  padding-left: 55px;
}
.price__arrow p {
  font-size: 11px;
  font-weight: 500;
  padding: 0px;
}

.swiper-pagination-bullet {
  background: #8C8C8C;
  width: 20.857px;
  height: 20.857px;
}

.teachers-qa__backbround {
  background-image: url(../img/qa-1.png);
  background-repeat: no-repeat;
  background-position: right 63.32px;
  background-size: auto 93%;
}

.teachers__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.teachers__title {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: center;
  padding: 30px 0px 61px 0px;
}
@media (max-width: 1095px) {
  .teachers__title {
    padding: 50px 0px 30px 0px;
  }
}
@media (max-width: 767px) {
  .teachers__title {
    padding: 50px 0px 30px 0px;
  }
}

.teachers__bold {
  font-weight: 700;
}

.teachers__tabs-body {
  position: relative;
}

.teachers__tabs-items .teachers__tabs-item:nth-child(1) {
  background-color: #FFD1A7;
}
.teachers__tabs-items .teachers__tabs-item:nth-child(2) {
  background-color: #FFB97A;
}
.teachers__tabs-items .teachers__tabs-item:nth-child(3) {
  background-color: #FFA859;
}
.teachers__tabs-items .teachers__tabs-item:nth-child(4) {
  background-color: #EE892D;
}

.teachers__tabs-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px;
  width: auto;
  color: #272343;
  font-size: 18px;
  font-weight: 500;
  padding: 0px 0px 0px 10px;
}

.teachers__tabs-block {
  display: none;
}
.teachers__tabs-block:target {
  display: block;
  width: auto;
  height: auto;
}

.teachers__tabs__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 770px;
  border: 5px solid #EE892D;
  background: var(--white-fill, rgba(255, 255, 255, 0.3));
  gap: 30.49px;
}
.teachers__tabs__row img {
  max-height: 393px;
}
@media (max-width: 1420px) {
  .teachers__tabs__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 992px) {
  .teachers__tabs__row {
    width: auto;
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .teachers__tabs__row {
    width: auto;
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.teachers__tabs-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 15px;
  font-weight: 500;
  padding: 17px 17px 17px 17px;
  text-align: justify;
}
.teachers__tabs-text p {
  padding-bottom: 15px;
}
@media (max-width: 767px) {
  .teachers__tabs-text {
    padding: 30px 17px 0px 17px;
  }
}

.qa__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.qa__title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding: 130px 0px 36px 0px;
}
@media (max-width: 992px) {
  .qa__title {
    padding: 30px 0px 20px 0px;
  }
}
@media (max-width: 767px) {
  .qa__title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 0px 20px 0px;
  }
}

.qa__text-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 48px;
}
@media (max-width: 992px) {
  .qa__text-row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px 20px 0px 20px;
  }
}
@media (max-width: 767px) {
  .qa__text-row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px 0px 0px 0px;
  }
}

.qa__spoilers {
  text-align: justify;
  width: 458.812px;
  border: 5px solid #7EC543;
  background: var(--white-fill, rgba(255, 255, 255, 0.3));
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
@media (max-width: 992px) {
  .qa__spoilers {
    width: 400px;
  }
}
@media (max-width: 767px) {
  .qa__spoilers {
    width: 305px;
  }
}
.qa__spoilers details {
  width: 406.619px;
  border-bottom: 2px solid #7EC543;
  margin: 0px 0px 0px 23.4px;
}
@media (max-width: 992px) {
  .qa__spoilers details {
    width: 330px;
  }
}
@media (max-width: 767px) {
  .qa__spoilers details {
    width: 250px;
  }
}
.qa__spoilers details:last-child {
  border-bottom: none;
}
.qa__spoilers summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
  font-size: 11px;
  padding: 21.85px 0px 28.4px 0px;
  cursor: pointer;
}
.qa__spoilers summary::-webkit-details-marker {
  display: none;
}
.qa__spoilers summary::after {
  content: "";
}
.qa__spoilers p {
  font-size: 11px;
  font-weight: 500;
  padding: 0px 0px 3px 37.14px;
}
.qa__spoilers p:last-child {
  padding-bottom: 40px;
}
@media (max-width: 992px) {
  .qa__spoilers {
    padding: 0px 0px 0px 0px;
  }
}
@media (max-width: 767px) {
  .qa__spoilers {
    padding: 0px 0px 0px 0px;
  }
}

.qa__text-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 328px;
  height: 100%;
  border: 5px solid #FFA859;
  background: var(--white-fill, rgba(255, 255, 255, 0.3));
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.qa__text-right form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.qa__text-right-title {
  font-size: 11px;
  font-weight: 700;
  margin: 32.85px 0px 8.45px 0px;
}

.qa__text-right-par {
  font-size: 11px;
  font-weight: 500;
  margin-bottom: 30.62px;
}

.qa__textarea-1 {
  max-width: 266.203px;
  min-width: 266.203px;
  height: 58.429px;
  border: 1px solid rgba(39, 35, 67, 0.8);
  background: #F5F6F7;
  padding: 2.66px 0px 0px 7.92px;
  margin-bottom: 6.64px;
}

.qa__input-1 {
  width: 266.203px;
  height: 19.919px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 1px solid rgba(39, 35, 67, 0.8);
  background: #F5F6F7;
  padding: 0px 0px 0px 7.13px;
  margin-bottom: 16.94px;
}

.qa__text-right-button {
  width: 103px;
  height: 18px;
  border-radius: 50px;
  border: 1px solid #272343;
  font-size: 11px;
  font-weight: 700;
  background: transparent;
  margin-bottom: 11.4px;
}
.qa__text-right-button:hover {
  background-color: rgba(224, 220, 220, 0.5);
}

.start__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 916px;
  background-image: url(../img/start-4.png);
  background-repeat: no-repeat;
}
@media (max-width: 692px) {
  .start__column {
    height: 1450px;
    background-size: 990.5px 100%;
  }
}

.start__title {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: center;
  padding: 40.09px 0px 58px 0px;
}

.start__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 57.57px;
}
@media (max-width: 767px) {
  .start__cards {
    padding: 0px 10px 0px 10px;
  }
}

.start__first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  gap: 64.24px;
}
@media (max-width: 767px) {
  .start__first-row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.start__first-row .start__card:nth-child(1) {
  background-image: url(../img/start-1.jpg);
}
.start__first-row .start__card:nth-child(2) {
  background: #EECE5D;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.start__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 304px;
  height: 220px;
  padding: 24px 85px 34.65px 28.36px;
}
.start__card h2 {
  color: #FFD803;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}
.start__card p {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.9px;
}

.start__second-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  gap: 64.24px;
}
@media (max-width: 767px) {
  .start__second-row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.start__second-row .start__card:nth-child(1) {
  background: #EECE5D;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.start__second-row .start__card:nth-child(2) {
  background-image: url(../img/start-2.jpg);
}

.start__sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 60px 0px 0px 357px;
}
@media (max-width: 1355px) {
  .start__sign-up {
    padding: 160px 0px 0px 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 767px) {
  .start__sign-up {
    padding: 150px 0px 0px 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.start__sign-up-1 {
  position: absolute;
  left: 140px;
  top: -33px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 112px;
  font-weight: 700;
  text-transform: uppercase;
}
.start__sign-up-1 a {
  color: #FFFFFE;
}
@media (max-width: 1355px) {
  .start__sign-up-1 {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    left: 250px;
    top: 40px;
    font-size: 80px;
  }
}
@media (max-width: 992px) {
  .start__sign-up-1 {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    left: 150px;
    top: 40px;
    font-size: 80px;
  }
}
@media (max-width: 767px) {
  .start__sign-up-1 {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    left: 110px;
    top: 80px;
    font-size: 60px;
  }
}

.start__sign-up-2 {
  font-size: 112px;
  font-weight: 700;
  text-transform: uppercase;
}
.start__sign-up-2 a {
  color: #FFD803;
}
@media (max-width: 1355px) {
  .start__sign-up-2 {
    font-size: 50px;
  }
}
@media (max-width: 767px) {
  .start__sign-up-2 {
    font-size: 50px;
  }
}

.start__sign-up-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  font-weight: 700;
  padding-top: 72px;
  margin: 0px 158px 0px 15px;
}
.start__sign-up-3 a {
  color: #FFFFFE;
}
@media (max-width: 1355px) {
  .start__sign-up-3 {
    margin: 0px 0px 0px 15px;
    padding-top: 0px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
}
@media (max-width: 767px) {
  .start__sign-up-3 {
    margin: 0px 0px 0px 15px;
    padding-top: 0px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
}

.start__sign-up-4 {
  position: absolute;
  left: 895px;
  top: 104.81px;
}
.start__sign-up-4 img {
  width: 282px;
  height: 103px;
}
@media (max-width: 1173px) {
  .start__sign-up-4 {
    display: none;
  }
}
@media (max-width: 767px) {
  .start__sign-up-4 {
    display: none;
  }
}

.start__arrow-1 {
  position: absolute;
  top: 100px;
  left: 285px;
}
@media (max-width: 692px) {
  .start__arrow-1 {
    display: none;
  }
}

.start__arrow-2 {
  position: absolute;
  top: 190px;
  left: 275px;
  z-index: 1;
}
@media (max-width: 692px) {
  .start__arrow-2 {
    display: none;
  }
}

.start__arrow-3 {
  position: absolute;
  top: 100px;
  left: 285px;
}
@media (max-width: 692px) {
  .start__arrow-3 {
    display: none;
  }
}

.start__arrow-4 {
  position: absolute;
  top: 200px;
  left: 385px;
}
@media (max-width: 692px) {
  .start__arrow-4 {
    display: none;
  }
}

.start__arrow-5 {
  position: absolute;
  display: none;
}
@media (max-width: 692px) {
  .start__arrow-5 {
    display: block;
    top: 210px;
  }
}

.start__arrow-6 {
  position: absolute;
  display: none;
}
@media (max-width: 692px) {
  .start__arrow-6 {
    display: block;
    top: -73px;
  }
}

.start__arrow-7 {
  position: absolute;
  display: none;
}
@media (max-width: 692px) {
  .start__arrow-7 {
    display: block;
    top: 210px;
  }
}

.start__arrow-8 {
  position: absolute;
  display: none;
}
@media (max-width: 692px) {
  .start__arrow-8 {
    display: block;
    top: 480px;
  }
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #EABD20;
  padding: 52px 60px 34px 61px;
}
@media (max-width: 767px) {
  .footer__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
}
@media (max-width: 500px) {
  .footer__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0px;
  }
}

.footer__text-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__text-left p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 197px;
  height: 43px;
  border-radius: 50px;
  border: 1px solid #272343;
  font-size: 30px;
  font-weight: 700;
  color: #272343;
  margin-bottom: 25px;
}
.footer__text-left p:hover {
  background-color: rgba(224, 220, 220, 0.5);
}
@media (max-width: 767px) {
  .footer__text-left {
    margin-bottom: 20px;
  }
}

.footer__pics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__pics img:hover {
  background-color: rgba(224, 220, 220, 0.5);
  border-radius: 23px;
}

.footer__text-right .footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 27px;
}
.footer__text-right .footer__list li:nth-child(1) a {
  padding: 3px 26.73px 3px 16px;
}
.footer__text-right .footer__list li:nth-child(2) a {
  padding: 3px 16.29px 3px 16px;
}
.footer__text-right .footer__list li:nth-child(3) a {
  padding: 3px 0px 3px 16px;
}
.footer__text-right .footer__list li:nth-child(4) a {
  padding: 3px 0px 3px 16px;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #272343;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid #272343;
}
.footer__link:hover {
  background-color: rgba(224, 220, 220, 0.5);
}

@media (max-width: 767px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    top: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #FFF;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0px;
  }
  .menu__icon::after {
    bottom: 0px;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    padding: 110px 30px 30px 58px;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 83px;
    background-color: rgb(234, 189, 32);
  }
  .menu__body._active {
    left: 0;
  }
}